backports.functools-lru-cache==1.5
Click==7.0
cycler==0.10.0
Flask==1.0.2
funcsigs==1.0.2
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.4
mock==2.0.0
nose==1.3.7
numpy==1.16.3
pbr==5.2.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
snakefood==1.4
SQLAlchemy==1.3.3
subprocess32==3.5.3
Werkzeug==0.15.2
