<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/multi_map.css">
	<script	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5l8Y_pDgxKIp2K1icKCHcUcoQ0b_SVGU&sensor=false&libraries=geometry"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/static/tinycolor.js"></script>
	<!--<script data-main="static/main" src="/static/require.js"></script>-->
	<title>Multi Maps</title>
</head>
<body>
	<div id="container">
		<!-- <div id="map-canvas">	
		</div> -->
	</div>
</body>
<!--<script type="text/javascript">
"use strict";

function normalize_radian(r){
	r = r % (Math.PI*2.0);
	r = (r + (Math.PI*2.0)) % (Math.PI*2.0);
	return r;
}

var date_parse = function (dateStr){
	// Assumes the date is formatted as such: "%H:%M:%S %d-%m-%y"
	var left = dateStr.split(' ')[0];
	var right = dateStr.split(' ')[1];

	left = left.split(':');
	right = right.split('-');
	var hour   = +left[0];
	var minute = +left[1];
	var second = +left[2];

	var day   = +right[0];
	var month = +right[1]-1;
	var year  = +right[2]+2000;
	// console.log(year, month, day, hour, minute, second, 0);
	var out_date = new Date(year, month, day, hour, minute, second, 0);
	return out_date;
}

function bearingToColor(bearing){
	var linehue = Math.round((180/Math.PI)*bearing);
	if (linehue < 0) { linehue += 360; };
	return tinycolor("hsl("+String(linehue)+", 100%, 50%)").toHexString();
}

// Given a list of coordinates, create one map for each pair of
// coordinates, then place those coordinates on that map.
function mapCoordinatePairs(inputData){

	var container = document.getElementById("container");
	var maxMapCount = 200;
	if (maxMapCount > inputData.length-1) { maxMapCount = inputData.length-1; };

	/*
		Takes an object with `latitude` and `longitude` attributes and converts
		them to a GoogleMaps LatLng object.
	*/
	function rawToLatLng(inval){
		return new google.maps.LatLng(inval.latitude, inval.longitude);
	}

	// Given the current index, creates an object representing a group of line
	// segments to be shown on a map.
	function createCoordGroup(index, count){
		var len = maxMapCount;
		
		if (arguments.length < 2) {
			count = 4;
		};

		var group = {};
		group.debug_info = "";
		group.debug = function(to_log){group.debug_info += String(to_log);}
		group.coords = [];
		group.indices = [];
		// [i-1] -- [ i ] -- [i+1] -- [i+2]
		for (var i = -1; i < count; i++){
			if (index+i < len) {
				var latlng = rawToLatLng(inputData[index+i]);
				group.indices.push(index+i);
				group.coords.push(latlng);
			};
		}

		group.bounds = new google.maps.LatLngBounds();
		for (var i = 0; i < group.coords.length-1; i++){
			group.bounds.extend(group.coords[i]);
		}

		group.createLines = function(map){
			for (var i = 1; i < group.coords.length-1; i++){
				var bearing = inputData[group.indices[i]].derived_bearing;
				bearing = normalize_radian(bearing);
				var lineColor = bearingToColor(bearing);

				if (i > 1) {
					var prevBearing = inputData[group.indices[i-1]].derived_bearing;
					prevBearing = normalize_radian(prevBearing);
					var diff = Math.abs(bearing - prevBearing) % Math.PI;
					group.debug("prevBearing: "+prevBearing+"\n");
					group.debug("currBearing: "+bearing+"\n");
					group.debug("diff: "+diff+"\n");
					lineColor = bearingToColor(Math.PI+diff);
				};

				var lineSymbol = {
					scale: 2,
					path: google.maps.SymbolPath.FORWARD_OPEN_ARROW
				};
				new google.maps.Polyline({
					path: [group.coords[i-1], group.coords[i]],
					geodesic: true,
					strokeColor: lineColor,
					strokeOpacity: 1.0,
					strokeWeight: 4,
					map: map,
					icons: [{
						icon: lineSymbol,
						offset: '100%'
					}]
				})
			}
		}

		return group;
	}

	for (var i = 1; i < maxMapCount; i++) {
		var group = createCoordGroup(i);

		var parent = document.createElement("div");
		parent.className = "map-container";
		var elm = document.createElement("div");
		elm.className = "map-canvas";
		var info = document.createElement("pre");
		info.className = "map-info";

		var map = new google.maps.Map(elm, {disableDefaultUI: true});

		group.createLines(map);
		map.fitBounds(group.bounds);

		var infoContent = document.createTextNode(group.debug_info);
		info.appendChild(infoContent);
		parent.appendChild(elm);
		parent.appendChild(info);
		container.appendChild(parent);
	};
}

// Start: 1423425600
// Stop : 1423512000
function initialize() {
	var start = "08:30:00 01-06-15";
	var end =   "18:00:00 05-06-15";

	console.log(date_parse(start));
	console.log(date_parse(end));
	start = date_parse(start).getTime()/1000;
	end = date_parse(end).getTime()/1000;

	console.log(start);
	console.log(end);

	$.ajax({
		url: '/data_range/'+start+'.0/'+end+'.0',
		// url: '/last_range/800',
		dataType: 'json',
		success: mapCoordinatePairs
	});
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>-->
<div>
	
	<script src="static/DateParse.js"></script>
	<script src="static/GpsCoordGroup.js"></script>
	<script src="static/main.js"></script>
	<script type="text/javascript">
google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</div>
</html>